body {
}

.div {
    margin: 15px;
    text-align: center;
}

.tbl {
    margin: auto;
    text-align: left;
}


html, body, form, #parentDiv {
    font-family: "Segoe UI", Arial, Helvetica, sans-serif;
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    font-size: 11px;
}

.tblAjax {
    height: 100%;
    width: 100%;
    background-color: #fff;
    margin: 0px auto;
}

.RadGrid_Metro .rgCommandRow {
    background-color: #E0E0E0;
    text-decoration: none;
    color: black !important;
    font-size: 11px !important;
}

.RadWindow_Metro table.rwTitlebarControls em {
    font-size: 12px !important;
    text-transform: none !important;
}

.RadAjax_Metro .raColor {
    background-color: White !important;
}

.RadGrid_Metro .rgFooterDiv, .RadGrid_Metro .rgFooter, .RadGrid_Metro .rgFooterWrapper {
    background-color: #E0E0E0 !important;
}

.RadGrid_Metro .rgMasterTable, .RadGrid_Metro .rgDetailTable, .RadGrid_Metro .rgPager table {
    font-size: 11px !important;
}

.RadGrid_Metro .rgRow a, .RadGrid_Metro .rgAltRow a, .RadGrid_Metro .rgFooter a {
    color: Navy !important;
}

.rpSlide .rpTemplate {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.rpSlide {
    overflow: hidden !important;
}

.RadDock .rdTop {
    color: White;
}

.riSingle, .RadInput, .RadInput_Metro {
    width: 90% !important;
}

.padding {
    padding: 5px;
}

.setPosition {
    position: relative;
}

.TableoddRow {
    background-color: #EBEFF3;
    color: #000000;
}

.TableevenRow {
    /*background-color :#EAEAE7;*/
    background-color: #FCFCFC;
    color: #000000;
}

.nowrap {
    white-space: nowrap;
}


html, body, form
{
    font-family:"Segoe UI Webfont",-apple-system,"Helvetica Neue","Lucida Grande","Roboto","Ebrima","Nirmala UI","Gadugi","Segoe Xbox Symbol","Segoe UI Symbol","Meiryo UI","Khmer UI","Tunga","Lao UI","Raavi","Iskoola Pota","Latha","Leelawadee","Microsoft YaHei UI","Microsoft JhengHei UI","Malgun Gothic","Estrangelo Edessa","Microsoft Himalaya","Microsoft New Tai Lue","Microsoft PhagsPa","Microsoft Tai Le","Microsoft Yi Baiti","Mongolian Baiti","MV Boli","Myanmar Text","Cambria Math";
    font-size:12px;
    color:#717171;
    background: #ffffff;    
}


.textbox {
border: 1px solid #DDDDDD;
padding: 8px 5px 8px 5px;
background: #ffffff;   
-moz-border-radius: 5px;
 border-radius:5px;   
-webkit-border-radius: 5px;
color:#717171;
}

.button 
{
  
  border-width:thin;
  color: #ffffff;
  background: #5CA038;
  padding: 10px 0px 10px 0px; 
}



    .button:hover {
  background: #386b1c;
    
}

    /*css for main page*/
    
#menu {
	list-style:none;
	/*width:190px;*/
    margin-bottom:0px;
	height:0px;
    padding-bottom:0px;
    width: 180px
}

#menu li {
	float:right;
	/*display:block;*/
	text-align:center;
	position:relative;
	padding: 4px 10px 4px 10px;
	margin-right:30px;
	margin-bottom:0px;
	border:none;
    
    /*padding-bottom:0;*/
}



#menu li:hover {
	/*padding: 4px 9px 4px 9px;*/
	background-color:#d8d5cb;
}


.dropdown_3columns{
	margin:4px auto;
	float:left;
	position:absolute;
	left:-999em; /* Hides the drop down */
	text-align:left;
	padding:10px 5px 10px 5px;
	border:1px solid skyBlue;
	border-top:none;
	background-color:white;
    padding-bottom:0px;
	
	
}

.dropdown_3columns {width: 250px;}

#menu li:hover .dropdown_3columns{
	left:-1px;
	top:auto;
}


/*.col_3{
	display:inline;
	float: left;
	position: relative;
	margin-left: 5px;
	margin-right: 5px;
}*/

/*.col_3 {width:200px;}*/

#menu li:hover .align_right {
	left:auto;
	right:-1px;
	top:auto;
}


